.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://wallpaperaccess.com/full/1190462.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: bottom;
}
nav img{
    width: 80px;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: azure;
    text-decoration: none;
    font-size: 15px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 50%;
    color: darkgray;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-20,-20%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    text-align: center;
}
.text-box p{
    
    font-size: 14px;
    color: lightpink;
}
.hero-btn{
    display: inline-block;
    color: white;
    border: 1px solid rgb(7, 206, 110);
    padding: 12px 34px;
    font-size: 23px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
    
}
.hero-btn:hover{
    border: 1px solid blue;
    background: rgb(17, 14, 213);
    transition: 1s;

}
@media(max-width: 700px){
    .text-box{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    color: darkslategrey;
}
p{
    text-align: center;
}